.myCard {
    margin: 10px auto 0;
    box-shadow: 40px 40px 50px 5px grey;
    width: 300px;
    min-height: 350px;
    border-radius: 10px;
    border: 2px solid lightGrey;
}

.black {
    color: black;
}

.red {
    color: red;
}

.green {
    color: green;
}