.myCard {
    margin: 10px auto 50px;
    box-shadow: 40px 40px 50px 5px grey;
    width: 200px;
    min-height: 200px;
    border-radius: 10px;
    border: 2px solid lightGrey;
}

.button1Style {
    margin-top: 5px;
    background-color: yellow;
}

.button2Style {
    margin-top: 5px;
    background-color: blue;
}
