body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url("../img/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    background-color: rgba(255,255,255,1);
    margin-top: 10em;
    height: 300px;
    padding: 30px;
    border-radius: 7px;
}

/*@media only screen and (max-width: 645px) {*/
/*    .background-image {*/
/*        justify-content: center !important;*/
/*    }*/
/*}*/