body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url("../img/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    background-color: rgb(255, 255, 255);
    margin-top: 10em;
    height: 300px;
    padding: 30px;
    border-radius: 7px;
}

.table-container {
    padding-left: 30vh;
    padding-right: 30vh;
    /*padding-top: 20vh;*/
}

.header-table {
    font-size: 3em !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    margin-top: 3em !important;
    background-color: white !important;
    /*width: 700px !important;*/
    text-align: center !important;
    margin-left: 200px !important;
    margin-right: 200px !important;
}